.heartLetter {
  width: 84%;
  margin: 0 auto;
  margin-top: 10px;

  .letters {
    display: flex;
    align-items: center;
    overflow-x: auto;
    column-gap: 16px;
    padding: 8px;
  }
}

// 心动信件
.letter {
  border-radius: 12px;
  // width: 140px;
  width: calc(50% - 8px);
  height: 180px;
  flex-shrink: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: #666;
  box-sizing: border-box;
  row-gap: 8px;

  &.whiteFont {
    color: #fff;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subTitle {
    font-size: 14px;
    line-clamp: 2;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .tags {
    font-size: 12px;
    display: flex;
    align-items: center;
    overflow: auto;
    column-gap: 6px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-self: flex-end;

    &::-webkit-scrollbar {
      display: none; /* 直接隐藏滚动条 */
      width: 0; /* 兜底：设置宽度为0 */
      height: 0; /* 横向滚动条时设置高度为0 */
    }

    span {
      flex-shrink: 0;
      padding: 2px 4px;
      display: inline-block;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  img {
    width: 50px;
  }
}